@import url("https://fonts.googleapis.com/css2?family=Cairo&family=El+Messiri&display=swap");
h4 span {
  font-size: clamp(2rem, 5vmin, 15rem);
  font-family: "Cairo", sans-serif;
  font-family: "El Messiri", sans-serif;
}
h5 span {
  font-size: clamp(1rem, 4vmin, 10rem);
  font-family: "Cairo", sans-serif;
  font-family: "El Messiri", sans-serif;
}
h4 {
  margin: 2rem;
}

.underlined {
  /*   background: red; */
  position: relative;
}

.underline-clip:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(130 80% 50%);
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}

.intro-text {
  max-width: 42%;
}
.intro-img {
  max-width: 45%;
}
.intro-all {
  justify-content: space-between;
}
.view-work{
    margin: 10%;
}
@media (max-width: 900px) {
  .intro-all {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .intro-text,
  .intro-text {
    max-width: 90%;
  }
  .intro-text {
    max-width: 90%;
  }
  .intro-img {
    max-width: 90%;
    margin-bottom: 100px;
  }
  .view-work{
    margin: 25%;
}
}

