.intro-text{
    max-width: 40%;
}
.intro-img{
    max-width: 45%;
}
.intro-all {
    justify-content: space-between;
}

@media (max-width: 900px) {
    .intro-all {
        display: flex;
        align-items: center;
        justify-content: center;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
    .intro-text,.intro-text{
        max-width: 90%;
    }
    .intro-text{
        max-width: 90%;
    }
    .intro-img{
        max-width: 90%;
        margin-bottom: 100px;
    }
  }