@import url("https://fonts.googleapis.com/css2?family=Cairo&family=El+Messiri&display=swap");
.intro {
  font-family: "Cairo", sans-serif;
  font-family: "El Messiri", sans-serif;
}
.name {
  font-size: clamp(2rem, 5vmin, 15rem);
  font-family: "Cairo", sans-serif;
  font-family: "El Messiri", sans-serif;
}
h5 span {
  font-size: clamp(1rem, 4vmin, 10rem);
}
h4 {
  margin: 2rem;
}

.underlined {
  /*   background: red; */
  position: relative;
}

.underline-clip:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 6 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(130 80% 50%);
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}

.intro-text {
  max-width: 42%;
}
.intro-img {
  max-width: 45%;
}
.intro-all {
  justify-content: space-between;
  max-width: 95%;
}
.view-work {
  max-width: 100%;
  margin: 10%;
}
.jop-title {
  font-size: 2.1rem;
  width: 100%;
}
.twitter-icon:hover {
  color: #2aa9e2;
}
.facebook-icon:hover {
  color: #43609d;
}
.github-icon:hover {
  color: #313131;
}
.linkedin-icon:hover {
  color: #107bb7;
}
.icons {
  position: absolute;
  left: 8rem;
}
@media (max-width: 900px) {
  .icons {
    position: absolute;
    left: 1.5rem;
  }
  .intro-all {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
  }
  .intro-text,
  .intro-text {
    max-width: 90%;
  }
  .intro-text {
    max-width: 90%;
  }
  .intro-img {
    max-width: 90%;
    width: 75%;
    margin: 10rem 0rem 10rem 5rem;
  
  }
  .view-work button {
    width: 10rem;
  }
  .jop-title {
    font-size: 1rem;
    text-align: start;
    width: 13rem;
  }
  .name {
    max-width: 25rem;
    width: 10rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: start;
  }
  h5 span {
    width: 13rem;
    margin-left: 2.5rem;
  }
}
